* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Comic Sans MS;
}

header {
	display: flex;
	border-bottom: #d3d3d3 1px solid;
}
header h1 {
	flex: 1;
	text-align: center;
	justify-content: center;
	font-size: 36px;
}
header label:hover {
	background-color: #d3d3d3;
}
#word {
	margin-left: 18px;
}
#shuffle-container {
	position: relative;
}
#shuffle {
	padding: 10px;
	margin-left: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: x-large;
	align-items: center;
	border-radius: 30%;
	cursor: pointer;
}
#shuffle-options {
	display: none;
	position: absolute;
	top: 100%;
	font-size: x-large;
	font-weight: bold;
	background-color: white;
	border: 1px solid #d3d3d3;
	border-radius: 15%;
	padding: 5px;
	box-shadow: 0 4px 6px 5px #ccc;
	width: 200%;
	z-index: 1;
}
#dark,
#question,
#exclaim {
	font-size: x-large;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 30%;
}
#icons {
	text-align: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100px;
	padding-right: 10px;
	margin-left: auto;
}
.dark-mode {
	background-color: black;
	color: white;
}
.dark-mode #start {
	background-color: white;
	color: black;
}
.dark-mode #shuffle-options {
	background-color: black;
	border: 1px solid #d3d3d3;
}
#hint {
	background-color: orange;
	color: black;
	text-align: center;
	position: relative;
	top: 50px;
	padding: 12px;
	display: none;
	margin: 0 auto;
	width: 200px;
	border-radius: 10px;
}
body {
	margin: 0;
}
#table {
	width: 340px;
	height: 340px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	justify-content: center;
}
.wordbox {
	border: 2px solid;
	margin: 2px;
	box-shadow: 0 2px 5px 2px #ccc;
	border-radius: 20%;
	font-size: 36px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}
#keyboard {
	width: 340px;
	height: 340px;
	margin: 0 auto;
	margin-top: 50px;
}
.keybox {
	border: 2px solid;
	width: auto;
	height: auto;
	margin: 2px;
	box-shadow: 0 2px 5px 2px #ccc;
	border-radius: 20%;
	font-size: 36px;
	font-weight: bold;
	display: inline-block;
	justify-content: center;
	align-items: center;
}
.keybox:nth-child(27) {
	background-color: rgb(0, 253, 0);
}
.split {
	display: flex;
	flex-direction: row;
}
#right ul {
	margin: 0;
	padding: 0;
	list-style: circle;
}
#right li {
	margin-left: 10px;
}
#left {
	flex: 1;
	padding: 1rem;
	text-align: center;
}
#right {
	flex: 1;
	padding: 1rem;
	position: relative;
	display: none;
	border-left: #d3d3d3 1px solid;
}
#hidden {
	display: none;
}
.correct {
	background-color: #6aaa6a;
	color: white;
	border-color: white;
}
.involved {
	background-color: #c9b458;
	color: white;
	border-color: white;
}
.wrong {
	background-color: #787c7e;
	color: white;
	border-color: white;
}
.highlight {
	border: 2px solid blue;
}
.delight {
	border: 2px solid;
}
#winner,
#loser {
	display: none;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}
#winner {
	background-color: #6aaa6a;
	color: white;
	margin-top: 20px;
}

#loser {
	background-color: #787c7e;
	color: white;
}
#start {
	background-color: black;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	top: 20px;
}

#lost,
#won {
	text-align: center;
	position: relative;
	top: 50px;
	padding: 13px;
	margin: 0 auto;
	width: 200px;
	border-radius: 10px;
}

#lost {
	background-color: red;
	color: white;
	display: none;
}

#won {
	background-color: grey;
	color: black;
	display: none;
}
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: #d3d3d3 1px solid;
	padding-top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
